/* Demo CSS */

body {
	padding: 8px;
	margin: 0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background: url(../imgs/bg.jpg);
	background: #efefef;
}

.clear {
clear: both;
}

.wrap {
width: 540px;
margin: 20px auto;
}

.button {
color: #fff;
background: #000;
border-radius: 10px;
cursor: pointer;
float: left;
padding: 5px;
margin: 20px;
}
.button:hover {
background: #35b5d8;
}

#uploadWrap {
width: 540px;
min-height: 160px;
background: #fff;
border-radius: 20px;
}

.item_box {
width: 160px;
height: 160px;
margin: 10px;
float: left;
background: #222;
font-size: 12px;
color: #fff;
overflow: hidden;
position: relative;
border-radius: 10px;
}

.item_box .progress {
position: absolute;
bottom: 10px;
left: 10px;
width: 0;
background: #29B3E3;
color: #fff;
border-radius: 10px;
text-align: center;
}

.item_box .delete {
position: absolute;
bottom: 0;
right: 0;
width: 20px;
height: 20px;
background: #000;
}

.item_box img {
width: 160px;
position: absolute;
top: 0;
left: 0;
border-radius: 10px;
}

.item_box .text {
margin: 10px;
position: relative;
z-index: 2;
background: rgba(0,0,0,.7);
}

.item_box .text {

}

.item_box.audio {
background: #A8004C;
}


.progress_bar {
width: 0;
background: #29B3E3;
color: #fff;
height: #20;
margin: 20px 0;
border-radius: 10px;
text-align: center;
}
